@import 'tailwindcss';

:root{
  --primary-bl:#0051ff;
  --primary-red:#c10007;
  --light-bl:#0051ff75;
}

body {

  font-family: Arial, Helvetica, sans-serif;
}
.title-text{
  font-size: 1.25rem;
  font-weight: 600;

}
.blue-txt{
  color:var(--primary-bl);
}

.red-txt{
  color:var(--primary-red)
}
.user-input{
  padding: 1rem;
  border-radius: 15px;
  border: 1px solid var(--light-bl);
  width:80%;
  transition: all 0.3s ease-in-out;
  margin: 0.8rem auto;
}
.user-input:focus{
  outline:none;
  border: 1px solid var(--primary-bl);
}